.todo-container {
  width: 300px;
  margin: 50px auto;
  font-family: Arial;
}

input,
button {
  padding: 8px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}
